<div class=" p-5 text-white text-center cusa-red" style="height: 10%">
    <h1 style="font-size: 5rem;">About CUSA</h1>
</div>

<p class="m-5" style="font-size: 1.5rem;">
  {{about}}
</p>
<hr/>
<h1 class="text-center py-4">{{year}} Board Members</h1>

<div class="container" *ngIf="board">
  <div class="row my-3" *ngFor="let row of board">
    <div class="col" *ngFor="let card of row">
      <div class="card mx-auto" style="width: 18rem;">
          <img src={{card.Picture}} class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title text-center">{{card.Position}}<hr/>{{card.Name}}</h5>
          </div>
        </div>
    </div>
  </div>

</div>