<div class=" p-5 text-white text-center cusa-red" style="height: 10%">
    <h1 style="font-size: 5rem;">CUSA's 2023 Lunar New Year Festival</h1>
</div>

<div class="container my-5 ms-5 me-0 pe-0">
    <div class="row">
        <div class="col">
            <img class="rounded img-fluid" align="left" src="assets/LNY-About.png">
        </div>
        <div class="col-md">
            <div class="row text-start">
                <h2>What is CUSA's Lunar New Year Festival?</h2>
                <p>The Lunar New Year Festival is one of our biggest events of the year! We bring together over 120 people and 
                    various Asian organizations to celebrate the incoming new year by playing games, eating amazing food, and 
                    giving out awesome prizes.

                    
                </p>
                <p>
                    Be prepared to have fun and make sure that you bring your friends to come celebrate the year of the rabbit with us!
                </p>
                <p><strong>We are selling hand-packaged jars full of goodies for $7 each this year. See more details <a [routerLink]="['./']" fragment="luckyJars" >below</a>!</strong></p>
            </div>
            <hr>
            <div class="row text-end">
                <h2>When and Where is the LNY Festival?</h2>
                <p>CUSA's 2023 LNY Festival is being held in the <strong>Coastal Ballroom</strong> at Talley Student Union 
                    from <strong>3pm to 5pm</strong> on <strong>January 14th, 2023</strong>
                </p> 
            </div>
            <hr>
            <div class="row text-start" >
                <h2>How Do I Participate?</h2>
                <p>All you need to do is to <strong>fill out the RSVP linked 
                    <a href="https://forms.gle/KNR9SY7Gsi9TpCGn7" target="_blank">here</a> and shown <a [routerLink]="['./']" fragment="forms" >below</a></strong> or just show up 
                    at the door on the day of the LNY Festival!
                </p>
                <p>
                    - For paying members, admission is <strong>FREE</strong><br>
                    - The admission for those who RSVP for the event is <strong>$5</strong><br>
                    - The admission day of the event is <strong>$7</strong> so be sure to fill out the RSVP form
                </p>
            </div>
                
        </div>
    </div>
    <hr>
    <h2 id="raffle">Raffle Prizes!</h2>
    <p>During the LNY Festival you can earn tickets by visiting booths and playing games to enter into a raffle to try and win one of these prizes!</p>
    <div class="row">
        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="assets/luckTree.png" class="card-img-top mt-3" alt="">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title text-center">Lucky Tree Lego Set</h5>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card mx-auto" style="width: 14rem;">
                <img src="assets/moonPlush.jpg" class="card-img-top mt-3" alt="">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title text-center">Moon Plushie</h5>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card mx-auto" style="width: 19rem;">
                <img src="assets/riceCooker.jpg" class="card-img-top mt-3 px-3" alt="">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title text-center">Rice Cooker</h5>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card mx-auto" style="width: 14rem;">
                <img src="assets/questionMark.png" class="card-img-top mt-3" alt="">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title text-center">And More!</h5>
                </div>
              </div>
        </div>
    </div>
    <hr>
    <h2 id="luckyJars">Lucky Jars!</h2>
    <p>This year we are selling hand-packaged jars full of goodies for $7 each! Each jar can be turned into a water bottle and will 
        include a bracelet, bunny stickers, candy, and fortune cards. <strong>We will only have 48 jars for sale so be sure to get one
        before they run out!</strong>
    </p>

    <p>To grab your lucky jar please <strong>fill out the order form linked <a href="https://forms.gle/DCUb2F9rSoWSrdhM8" target="_blank">here</a></strong> or shown <a [routerLink]="['./']" fragment="forms" >below</a></p>

    <p>
        Once you ordered your lucky jar(s) can pick up your items on Saturday, January 14th in Talley Student Union Coastal Ballroom 
        during the Lunar New Year Festival from 3:00-5:00pm. If you cannot make it to the Lunar New Year Festival, we will figure 
        out a date and location for you to pick up your jar(s). 
    </p>
    <hr>
    <h2 id="forms">Forms</h2>
    <p>See the forms below for to RSVP for the LNY Festival and order Lucky Jars.</p>

    <div class="accordion mx-5 pe-5 mt-4" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Lunar New Year RSVP Form
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body text-center">
                <p>Fill out the form below or go to it in a new tab <a href="https://forms.gle/KNR9SY7Gsi9TpCGn7" target="_blank">here</a></p>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSffW3UFerIc3AiK2kievhMvkreliUU6wV1QBT6mIEZacBZnpw/viewform?embedded=true" width="640" height="1400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Lucky Jar Order Form
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body text-center">
                <p>Fill out the form below or go to it in a new tab <a href="https://forms.gle/DCUb2F9rSoWSrdhM8" target="_blank">here</a></p>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdf4yFRTbkacrL_Ze_Dls61s1pYMr3d1LUJ-6yy2xE7wHlOUw/viewform?embedded=true" width="640" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
          </div>
        </div>
      </div>
</div>