<div class=" p-5 text-white text-center cusa-red" style="height: 10%">
    <h1 style="font-size: 5rem;">Events</h1>
</div>


<h1 class="text-center my-4">Our Upcoming Event</h1>
<div class="card mx-auto my-4" style="width:80%;">
    <h5 class="card-header" style="font-size:1.8rem;">Movie Night!</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <img src="/assets/Event1.png" class="rounded" alt="" height="300" width="300">
            </div>
            <div class="col">
                <h5 class="card-title">September 23rd 6-8pm (Location)</h5>
                <p class="card-text">Join us at (some location) to watch (something) and meet new people! Copy some info from instagram and put it here for more information.</p>
                <a href="events" class="btn cusa-black text-white">Learn More</a>
            </div>
        </div>
    </div>
  </div>

<hr/>
<h1 class="mb-5 mt-4 mx-5">Past Events:</h1>
<div class="row my-5 mx-0 px-0">
    <div class="col">
        <div class="card mx-auto" style="width: 18rem; height: 23rem;">
            <img src="/assets/Event1.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Meet Your Community: 1st GBM</h5>
            </div>
          </div> 
    </div>
    <div class="col">
        <div class="card mx-auto" style="width: 18rem; height: 23rem;">
            <img src="/assets/Event2.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Mid-Autumn Festival</h5>
            </div>
          </div> 
    </div>
    <div class="col">
        <div class="card mx-auto" style="width: 18rem; height: 23rem;">
            <img src="/assets/Event1.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Meet Your Community: 1st GBM</h5>
            </div>
          </div> 
    </div>
    <div class="col">
        <div class="card mx-auto" style="width: 18rem; height: 23rem;">
            <img src="/assets/Event2.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Mid-Autumn Festival</h5>
            </div>
          </div> 
    </div>
</div>
