<div class=" p-5 text-white text-center cusa-red" style="height: 10%">
    <h1 style="font-size: 5rem;">Events</h1>
</div>


<h1 class="text-center my-4">Our Upcoming Event</h1>
<div class="card mx-auto my-4" style="width:80%;">
    <h5 class="card-header" style="font-size:1.8rem;">{{upcoming.Name}}!</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <img src={{upcoming.Picture}} class="rounded" alt="" height="300" width="300">
            </div>
            <div class="col">
                <h5 class="card-title">{{upcoming.Date}} | {{upcoming.Time}} ({{upcoming.Location}})</h5>
                <p class="card-text">{{upcoming.Description}}</p>
                <a href={{upcoming.Link}} target="_blank" class="btn cusa-black text-white">Learn More</a>
            </div>
        </div>
    </div>
  </div>

<hr/>
<h1 class="mb-5 mt-4 mx-5">Past Events:</h1>
<div class="row my-5 mx-0 px-0" *ngFor="let row of events">
    <div class="col" *ngFor="let card of row">
        <div class="card mx-auto" style="width: 18rem; height: 23rem;">
            <img src={{card.Picture}} class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{card.Name}}</h5>
            </div>
          </div> 
    </div>
</div>
