.cusa-black {
    background-color: #333333;
}

.cusa-red {
    background-color: #f22a42;
}

.btn:hover {
    background-color: #333333;
    color: white;
}

.accordion-button:not(.collapsed) {
    background: #333333;
    color: white;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(100%);
}