<div class=" p-5 text-white text-center cusa-red" style="height: 10%">
    <h1 style="font-size: 5rem;">Sponsorship Information</h1>
</div>

<h4 class="mt-5 mb-4 mx-5">Thank you for considering sponsoring the Chinese Undergraduate Student Association!</h4>
<p class="mx-5">
    The Chinese Undergraduate Student Association (CUSA) is currently looking for new sponsors for this school year to help us fund our events. CUSA's mission is to promote Chinese culture at North Carolina State University and in the local community. In addition to creating cultural awareness, another essential facet of CUSA is to serve the community through volunteer and charitable service activities. Your sponsorship will help us carry out our mission and fund events like our Mid-Autumn Festival and Lunar New Year Festival in the spring semester.    
</p>
<p class="mx-5">
    We aim to raise $1,000 from sponsors this year, and we hope you can help us reach that goal. There is no set cost to sponsor, but we have a range of incentive levels, from a feature in our newsletter which is sent to over 1,000 people to putting your company's logo on our t-shirt. Please refer to the sponsorship levels below for more information.
</p>
<p class="mx-5">
    Any amount is already greatly appreciated, and anything above our Gold level sponsorship will help us tremendously towards spreading Chinese cultural awareness in the local community.
</p>
<p class="mx-5 mb-4">
    If you are interested in sponsoring us, please send us the amount of your donation, your preferred payment method, and any high-resolution logos, if applicable, to <strong>ncsuchineseclub@gmail.com</strong>. We look forward to hearing from you!
</p>
<hr/>
<h2 class="mx-5">Sponsorship Levels:</h2>
<ul class="mx-5" style="font-size: 1.2rem;">
    <li><strong>Gold:</strong>
        <ul>
            <li>Minimum of <strong>$300</strong> donation</li>
            <li>Prominent name and logo placement on all printed/digital materials</li>
            <li>Prominent advertisement in event program</li>
            <li>Advertisement on all platforms (Instagram, website, email) for the year</li>
            <li>Prominent logo placement on our t-shirt</li>
        </ul>
    </li>
    <li><strong>Silver:</strong>
        <ul>
            <li>Minimum of <strong>$200</strong> donation</li>
            <li>Name and logo placement on all printed/digital materials</li>
            <li>Advertisement in event program</li>
            <li>Advertisement on all platforms (Instagram, website, email) for the semester</li>
            <li>Logo placement on our t-shirt</li>
        </ul>
    </li>
    <li><strong>Bronze:</strong>
        <ul>
            <li>Minimum of <strong>$100</strong> donation</li>
            <li>Name and logo placement on all printed/digital materials</li>
            <li>Advertisement in event program</li>
            <li>Advertisement on our website for the semester</li>
        </ul>
    </li>
</ul>

