<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #333333">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">
      <img src="/assets/cusaLongFinal2.png" alt="" height="40" width="144" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="home">Home</a>
        <a class="nav-link" href="about">About</a>
        <a class="nav-link" href="events">Events</a>
        <a class="nav-link" href="membership">Membership</a>
        <a class="nav-link" href="merch">Merch</a>
        <a class="nav-link" href="contact">Contact Us</a>
        <a class="nav-link" href="sponsor">For Sponsors</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>