<div class=" p-5 text-white text-center cusa-red" style="height: 10%">
    <h1 style="font-size: 5rem;">CUSA's Store</h1>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/assets/CUSAT-Shirt MockUp_Front.jpg" class="d-block w-100" alt="">
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/CUSAT-Shirt MockUp_Back.jpg" class="d-block w-100" alt="">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                  <h5 class="card-title">T-Shirt</h5>
                  <p class="card-text">$12 for Members<br/>$15 for Non-Members</p>
                  <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn cusa-black text-white">Buy</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <div id="carousel2" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/assets/CUSAT-Shirt MockUp_Front.jpg" class="d-block w-100" alt="">
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/CUSAT-Shirt MockUp_Back.jpg" class="d-block w-100" alt="">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Some other merch</h5>
                  <p class="card-text">$X for Members<br/>$Y for Non-Members</p>
                  <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn cusa-black text-white">Buy</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <div id="carousel3" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/assets/CUSAT-Shirt MockUp_Front.jpg" class="d-block w-100" alt="">
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/CUSAT-Shirt MockUp_Back.jpg" class="d-block w-100" alt="">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Some other merch</h5>
                  <p class="card-text">$X for Members<br/>$Y for Non-Members</p>
                  <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn cusa-black text-white">Buy</a>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Purchase</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
                <div id="carousel4" class="carousel slide" data-bs-ride="false">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/assets/CUSAT-Shirt MockUp_Front.jpg" class="d-block w-100" alt="">
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/CUSAT-Shirt MockUp_Back.jpg" class="d-block w-100" alt="">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col">
                <h1>CUSA T-Shirt</h1>
                <p><strong>Price:</strong><br/>
                    $12 for Members<br/>
                    $15 for Non-Members
                </p>
                <p><strong>Size:</strong></p>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-dark" for="btnradio1">S<br/>15 Left</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-dark" for="btnradio2">M<br/>15 Left</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-dark" for="btnradio3">L<br/>15 Left</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-dark" for="btnradio4">XL<br/>15 Left</label>
                  </div>
                  <p class="mt-4"><strong>Product Details:</strong></p>
                  <ul>
                    <li>Some product description here</li>
                    <li>To fill the white space</li>
                    <li>I am not sure what else to put here</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn cusa-red text-white" data-bs-dismiss="modal">Purchase</button>
        </div>
      </div>
    </div>
  </div>
