<div class=" p-5 text-white text-center cusa-red" style="height: 10%">
    <h1 style="font-size: 5rem;">CUSA's Store</h1>
</div>

<div class="container my-5" *ngIf="store">
    <div class="row" *ngFor="let row of store">
        <div class="col" *ngFor="let card of row">
            <div class="card mx-auto my-3" style="width: 18rem;">
                <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" *ngFor="let picture of card.Picture | slice:0:1">
                        <img src={{picture}} class="d-block w-100" alt="">
                      </div>
                      <div class="carousel-item" *ngFor="let picture of card.Picture | slice:1">
                        <img src={{picture}} class="d-block w-100" alt="">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{card.Item}}</h5>
                  <p class="card-text">{{card.Member_Price}} for Members<br/>{{card.Non_Member_Price}} for Non-Members</p>
                  <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn cusa-black text-white" (click)="getItem(card.Item)">Buy</a>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Purchase</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
                <div id="carousel4" class="carousel slide" data-bs-ride="false">
                    <div class="carousel-inner">
                      <div class="carousel-item active" *ngFor="let picture of item.Picture | slice:0:1">
                        <img src={{picture}} class="d-block w-100" alt="">
                      </div>
                      <div class="carousel-item" *ngFor="let picture of item.Picture | slice:1">
                        <img src={{picture}} class="d-block w-100" alt="">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col">
                <h1>{{item.Item}}</h1>
                <p><strong>Price:</strong><br/>
                    {{item.Member_Price}} for Members<br/>
                    {{item.Non_Member_Price}} for Non-Members
                </p>
                <div *ngIf="item.Sizes">
                  <p><strong>Size:</strong></p>
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                      <input type="radio" class="btn-check" name="size" id="size1" autocomplete="off" [(ngModel)]="size" value="S" checked>
                      <label class="btn btn-outline-dark" for="size1">S<br/>{{item.S}} Left</label>
                    
                      <input type="radio" class="btn-check" name="size" id="size2" autocomplete="off" [(ngModel)]="size" value="M">
                      <label class="btn btn-outline-dark" for="size2">M<br/>{{item.M}} Left</label>
                    
                      <input type="radio" class="btn-check" name="size" id="size3" autocomplete="off" [(ngModel)]="size" value="L">
                      <label class="btn btn-outline-dark" for="size3">L<br/>{{item.L}} Left</label>
  
                      <input type="radio" class="btn-check" name="size" id="size4" autocomplete="off" [(ngModel)]="size" value="XL">
                      <label class="btn btn-outline-dark" for="size4">XL<br/>{{item.XL}} Left</label>
                    </div>
                </div>

                <div *ngIf="!item.Size">
                  <p><strong>Amount Left: </strong>{{item.Amount}}</p>
                </div>

                  <p class="mt-3"><strong>Are you a CUSA member?:</strong></p>
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                      <input type="radio" class="btn-check" name="member" id="member1" autocomplete="off" [(ngModel)]="member" value="Yes">
                      <label class="btn btn-outline-dark" for="member1">Yes</label>
                    
                      <input type="radio" class="btn-check" name="member" id="member2" autocomplete="off" [(ngModel)]="member" value="No" checked>
                      <label class="btn btn-outline-dark" for="member2">No</label>
                    </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn cusa-red text-white" data-bs-dismiss="modal" (click)="openForm()">Purchase</button>
        </div>
      </div>
    </div>
  </div>
