<div class=" p-5 text-white text-center cusa-red" style="height: 25%">
    <h1 style="font-size: 5rem">The Chinese Undergraduate <br/> Student Association</h1>
</div>

<div class="m-5">
    <h2>Our Mission</h2>
    <p> CUSA's goal is to promote Chinese culture throughout North Carolina State University as well as the local community. With events every year such as Lunar New Year, Game Night, Camping Trip, Hot Pot Night, and Food Bank, we strive to promote Chinese culture through both service and recreation.</p>
</div>
<hr>
<div class="container my-5">
    <h1 class="text-center mb-4" >Connect With Us!</h1>
    <div class="row">
        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/assets/Instagram_Glyph_Color.svg" class="card-img-top pt-4" alt="" height="200" width="200">
                <div class="card-body">
                  <h5 class="card-title">Instagram (@cusa_ncsu)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="https://www.instagram.com/cusa_ncsu/" target="_blank" class="btn cusa-black text-white">Follow</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/assets/discordColor.svg" class="card-img-top pt-4" alt="" height="200" width="200">
                <div class="card-body">
                  <h5 class="card-title">Discord</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="https://discord.gg/8hNJrreYdm" target="_blank" class="btn cusa-black text-white">Join</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="\assets\mail.svg" class="card-img-top pt-4" alt="" height="200" width="200">
                <div class="card-body">
                  <h5 class="card-title">Mailing List</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="https://forms.gle/ToPS6RVdpgXSe3CK9" target="_blank" class="btn cusa-black text-white">Sign Up</a>
                </div>
              </div>
        </div>
    </div>
</div>


<div class="container my-5">
    <h1 class="text-center">Gold Sponsors</h1>
    <div class="row text-center">
        <div class="col">
            <img src="\assets\spaByJingLogo.png" alt="" height="200">
        </div>
        <div class="col">
            <img src="\assets\logo-crr.png" alt="" height="200">
        </div>
    </div>
    <hr/>
    <h1 class="text-center">Bronze Sponsors</h1>
    <div class="row text-center">
        <div class="col">
            <img src="\assets\lovebaoLogo.png" alt="" height="100">
        </div>
    </div>
</div>
