<div class=" p-5 text-white text-center cusa-red" style="height: 25%">
    <h1 style="font-size: 5rem">The Chinese Undergraduate <br/> Student Association</h1>
</div>

<div class="m-5">
    <h2>Our Mission</h2>
    <p>{{mission}}</p>
</div>
<hr>
<div class="container my-5">
    <h1 class="text-center mb-4" >Connect With Us!</h1>
    <div class="row">
        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/assets/Instagram_Glyph_Color.svg" class="card-img-top pt-4" alt="" height="200" width="200">
                <div class="card-body">
                  <h5 class="card-title">Instagram (@cusa_ncsu)</h5>
                  <p class="card-text">Follow us on Instagram to get the most up-to-date news and reminders about our upcoming events!</p>
                  <a href="https://www.instagram.com/cusa_ncsu/" target="_blank" class="btn cusa-black text-white">Follow</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/assets/discordColor.svg" class="card-img-top pt-4" alt="" height="200" width="200">
                <div class="card-body">
                  <h5 class="card-title">Discord</h5>
                  <p class="card-text">Join our Discord community to interact with other club members, ask board members questions, and get more information about events!</p>
                  <a href="https://discord.gg/8hNJrreYdm" target="_blank" class="btn cusa-black text-white">Join</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="\assets\mail.svg" class="card-img-top pt-4" alt="" height="200" width="200">
                <div class="card-body">
                  <h5 class="card-title">Mailing List</h5>
                  <p class="card-text">Sign up for our mailing list to get weekly updates about upcoming events from us and other Asian Orgs!</p>
                  <a href="https://forms.gle/ToPS6RVdpgXSe3CK9" target="_blank" class="btn cusa-black text-white">Sign Up</a>
                </div>
              </div>
        </div>
    </div>
</div>


<div class="container my-5">
    <div class="container" *ngIf="gold">
      <h1 class="text-center">Gold Sponsors</h1>
      <div class="row my-3" *ngFor="let row of gold">
        <div class="col" *ngFor="let card of row">
          <div class="card mx-auto" style="width: 18rem;">
            <img src={{card}} class="card-img-top" alt="">
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="container" *ngIf="silver">
      <h1 class="text-center">Silver Sponsors</h1>
      <div class="row my-3" *ngFor="let row of silver">
        <div class="col" *ngFor="let card of row">
          <div class="card mx-auto" style="width: 18rem;">
            <img src={{card}} class="card-img-top" alt="">
          </div>
        </div>
      </div>
  </div>
    <hr/>
    <div class="container" *ngIf="bronze.length > 0">
      <h1 class="text-center">Bronze Sponsors</h1>
      <div class="row my-3" *ngFor="let row of bronze">
        <div class="col" *ngFor="let card of row">
          <div class="card mx-auto" style="width: 18rem;">
            <img src={{card}} class="card-img-top" alt="">
          </div>
        </div>
      </div>
  </div>
</div>
