<div class=" p-5 text-white text-center cusa-red" style="height: 10%">
    <h1 style="font-size: 5rem;">Membership</h1>
</div>

<h2 class="mx-5 mt-5 mb-4">Frequently Asked Questions</h2>

<div class="accordion mx-5" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What Are The Benefits For A CUSA Member?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            CUSA members get free admission into our 2 big events of they year, Mid-Autumn and Lunar New Year. They will get a discount when we have fundraisers/sell stuff. In addition to those benefits, there might also be free stuff that we give out throughout the year, for example, last year during our bake sale fundraiser, members were given a free lemon cake cookie.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How Much Is A CUSA Membership And How Do I Pay?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            CUSA Memberships are <strong>$7 for the semester</strong> and <strong>$10 for the year</strong>. We accept payments through Venmo (@ncstate-cusa) or cash. If you are interested in getting a CUSA Membership please fill out the form below with your chosen payment method!
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Do I Need To Be A Member To Attend Events?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>NO!</strong> All events are and will be open to everyone. Being a member only gives you additional benefits on top of being able to attend all CUSA events.
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto mt-3 text-center">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfoaTFZzUyApP4KI_bcPY_CN_22AW7u7_of2rShhYBGOayuOg/viewform?embedded=true" width="640" height="830" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>